@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0 10%;
  min-height: 100vh;
  border-left: #FFC166 solid 200px;
  border-right: #FFC166 solid 200px;
}

.titulo{
  width: 70%;
  margin: 20px 0;
}

.gif{
  height: 180px;
  mix-blend-mode: multiply;
}

.container{
  border: solid 6px #424153;
  background-color: #f2f2f2;
  border-radius: 6px;
  width: 80%;
  height: 40vh;
  padding: 15px 10px;
  overflow-y: scroll;
  box-shadow: 0 0 0 5px #f1a05a;
}


.definicao{
  width: 100%;
  font-family: 'Cabin', sans-serif;
  color: #424153;
  font-size: 25px;
  font-style: italic;
  text-align: center;margin: 20px;
}

.container p{
  word-wrap: break-word;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  color: #424153;
}

button{
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  transition: ease .3s;
  color: #424153;
}